.contactBanner {
  position: fixed;
  background-color: #333;
  border-bottom: solid 1px;
  border-top: solid 1px;
  padding: 1.5rem 0;
  margin: 0;
  top: 56px;
  left: 0;
  width: 100%;
  z-index: 900;
  box-sizing: border-box;
}

.personalData {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.formData {
  display: flex;
  flex-direction: column;
}


.formData input {
  margin: 0.5rem 0;
}

/* 
padding = internal mod 
margin = external mod

*/
input {
  width: 25rem;
  height: 2rem;
  border: 2px solid #fff;
  border-radius: 0.2rem;
  padding: 0.3rem 0.5rem;
}
.error {
  color: red;
}
.formItems{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}